<!-- Formulario HTML con estilos de Bootstrap 5.3 -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<form class="container mt-5" action="/product/add" method="post">
  <div class="col-md-4 text-center offset-md-4">
    <h1>Ingreso de Productos</h1>
  </div>

  <div class="col-md-4 offset-md-4">    
    <label for="title" class="form-label">Título:</label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>

  <div class="col-md-4 offset-md-4">
    <label for="description" class="form-label">Descripción:</label>
    <textarea class="form-control" id="description" name="description" required></textarea>
  </div>

  <div class="col-md-4 offset-md-4">
    <label for="code" class="form-label">Código:</label>
    <input type="text" class="form-control" id="code" name="code" required>
  </div>

  <div class="col-md-4 offset-md-4">
    <label for="price" class="form-label">Precio:</label>
    <input type="number" class="form-control" id="price" name="price" required>
  </div>

  <div class="col-md-4 offset-md-4">
    <label for="status" class="form-label">Estado:</label>
    <select class="form-select" id="status" name="status">
      <option value="available">Disponible</option>
      <option value="unavailable">No disponible</option>
    </select>
  </div>

  <div class="col-md-4 offset-md-4">
    <label for="stock" class="form-label">Stock:</label>
    <input type="number" class="form-control" id="stock" name="stock" required>
  </div>

  <div class="col-md-4 offset-md-4">
    <label for="category" class="form-label">Categoría:</label>
    <input type="text" class="form-control" id="category" name="category" required>
  </div>

  <div class="col-md-4 offset-md-4">
    <label for="thumbnail" class="form-label">Thumbnail:</label>
    <input type="text" class="form-control" id="thumbnail" name="thumbnail" required>
  </div>
  <div class="mb-4 col-md-4 text-center offset-md-4 ">
    <br>  
  <button id="agregarProductoBtn" type="submit" class="btn btn-primary">Agregar Producto</button>
  </div>
  <div class="mb-4 col-md-4 text-center offset-md-4 ">
  <span id="result"></span>
  </div>
</form>
